<header>
    <!-- inicio do menu -->
    <h1>Financer</h1>
    <nav>
        <a href="/">Dashboard</a>
        <a href="/transacoes">Adicionar Transação</a>
        <a href="/historico">Histórico</a>
    </nav>
    <!-- final do menu -->
</header>
